.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, minmax(220px ,284px));
    gap: 16px;
    padding-top: 92px;
    margin: auto;
    grid-area: photo-grid;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 90.625%;
        display: grid;
        grid-template-columns: repeat(3, minmax(226px,300px));
        gap: 14px;
        padding-top: 92px;
        margin: auto;
        grid-area: photo-grid;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        width: 93.75%;
        display: grid;
        grid-template-columns: repeat(2, minmax(176px,352px));
        gap: 16px;
        padding-top: 88px;
        margin: auto;
        grid-area: photo-grid;
        justify-content: center;
    }
}
@media screen and (max-width: 740px) {
    .photo-grid {
        width: 95%;;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        padding-top: 64px;
        margin: auto;
        grid-area: photo-grid;
        justify-content: center;
    }
}