.header {
    width: 100%;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}
@media screen and (max-width: 1024px) {
    .header {
        width: 90.625%;
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: 93.75%;
    }
}
@media screen and (max-width: 740px) {
    .header {
        max-height: 42px;
        width: 90%;
    }
}