.header {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}
@media screen and (max-width: 1024px) {
    .header {
        height: 52px;
        display: flex;
        justify-content: space-between;
        grid-area: header;
        width: 90.625%;
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: 52px;
        display: flex;
        justify-content: space-between;
        grid-area: header;
        width: 93.75%;
    }
}
@media screen and (max-width: 740px) {
    .header {
        height: 42px;
        display: flex;
        justify-content: space-between;
        grid-area: header;
        width: 95%;
    }
}