.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 720px;
    grid-row: 1/2;
}
@media screen and (max-width:768px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
        margin: 0 auto 32px;
        max-width: 720px;
        grid-row: 1/2;
        width: 93.75%;
    }
}

@media screen and (max-width:740px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 0 auto 16px;
        grid-row: 1/2;
        width: 95%;
    }
}
