.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
}
@media screen and (max-width: 740px) {
    .cover__title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
    }
}