.footer {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: flex-start;
    padding-top: 92px;
    grid-area: footer;
}
@media screen and (max-width: 1279px) {
    .footer {
        width: 90.625%;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        width: 93.75%;
        padding-top: 88px;
    }
}
@media screen and (max-width: 740px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        width: 90%;
    }
}